{
    "AndroidSdkRootPath": "Mobile",
    "PathMap": [
        {
            "Name": "Saved Pictures",
            "RemotePath": "sdcard/DCIM/Saved Pictures"
        },
        {
            "Name": "WeiXin",
            "RemotePath": "sdcard/WeiXin"
        },
        {
            "Name": "Camera",
            "RemotePath": "sdcard/DCIM/Camera"
        }
    ]
}