{
    "Type": "SDCard",
    "PathMap": [
        {
            "Name": "Saved Pictures",
            "RemotePath": "E:\\sdcard_path\\Saved Pictures"
        },
        {
            "Name": "WeiXin",
            "RemotePath": "E:\\sdcard_path\\WeiXin"
        },
        {
            "Name": "Camera",
            "RemotePath": "E:\\sdcard_path\\Camera"
        }
    ]
}