{
    "AndroidSdkRootPath": "Mobile",
    "PathMap": [
        {
            "Name": "Saved Pictures",
            "RemotePath": "sdcard/DCIM/Saved Pictures"
        },
        {
            "Name": "Camera",
            "RemotePath": "sdcard/DCIM/Camera"
        },
        {
            "Name": "VUE",
            "RemotePath": "sdcard/DCIM/VUE"
        },
        {
            "Name": "WeiXin",
            "RemotePath": "sdcard/tencent/MicroMsg/WeiXin"
        },
        {
            "Name": "Screenshots",
            "RemotePath": "sdcard/Pictures/Screenshots"
        },
        {
            "Name": "Browser",
            "RemotePath": "sdcard/Pictures/Browser"
        },
        {
            "Name": "Canon EOS 77D",
            "RemotePath": "sdcard/Canon EOS 77D"
        }
    ]
}